.shippingRequestSection {
    position: relative;
    background-image: url('../../images/shipping-request/back.jpg');
    background-position: center;
    background-size: cover;

    .selectLabel {
        column-gap: 10px;
        align-items: center;
        padding-inline-start: 11px;

        i {
            color: #c60874;
            border: 2px solid;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            cursor: pointer;
            transition: all .2s ease-in-out;

            &:hover {
                color: #274091;
                border: 1px solid;
                font-size: 15px;

            }
        }
    }

    .warningForEnterAddress {
        text-align: start;
        font-family: 'Cairo-Regular';
        color: #ff4d4f;
        font-size: large;
        font-weight: bold;
        padding-block: 4px;
        transition: all 0.2s ease-in;


    }

    .addInFormBTN {
        color: #274091;
        border: 1px solid #274091;
        font-family: 'Cairo-Regular';
        font-weight: 600;
        padding-block: 5px;

        &:hover {
            color: #c60874;
            border: 1px solid #c60874;
            transform: scale(1.03);
            transition: all 0.1s ease-in;
        }
    }

    .formLabel {
        text-align: start;
        font-family: 'Cairo-Regular';
        font-size: large;
        color: #274091;
        font-weight: 600;

        i {
            color: #c60874;
            font-size: 1.5rem;
            margin-inline-end: 0.3rem;
        }
    }

    .myAddressRow {
        text-align: start;
        padding-inline: 15px;
    }

    .addressDetail {
        position: relative;
        padding-inline: 15px;
    }

    .container {
        .shippingRequestIntro {
            min-height: 300px;

            justify-content: flex-end;
            display: flex;
            align-items: center;
            flex-direction: column;

            h3 {
                color: white;
                font-family: 'Cairo-Regular';
            }

            .horizonal-align.stage {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding: 30px;

                p {
                    margin: 0;
                }

                .shipping-icon {
                    font-size: 30px;
                    font-weight: 700;
                    position: relative;
                    border-radius: 50%;
                    padding-bottom: 10px;
                }
            }

        }

        // .shippingRequestIntro::before{
        //     content:'';
        //     position: absolute;
        //     height: 20%;
        //     width: 100%;
        //     background-color: black;
        //     left:0;
        //     top:0
        // }
        .shippingRequestRow {
            padding-top: 5rem;
            // min-height: 800px;
            justify-content: center;
            align-items: center;
            padding-bottom: 2rem;

            .imageHolder {
                min-height: 100vh;
                background-image: url('../../images/shipping-request/back.jpg');
                background-position: center;
                background-repeat: no-repeat;
            }

            .shippingRequestCol {
                position: relative;
                padding: 1rem;
                background: rgb(250, 248, 248, 0.6);
                border: 1px solid #2a478c;
                // box-shadow: 27px 28px 12px -9px #c608747a;
                box-shadow: 4px 4px 2px 1px #274091;
                border-radius: 4px;
                backdrop-filter: blur(2px);
                transition: all 0.5s ease-in-out;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                opacity: 1;

                .row {

                    .buttonContainer.justifyBtn {
                        justify-content: flex-end;
                        align-items: center;
                        display: flex;
                    }

                    .ant-divider {
                        background-color: #274091;
                    }
                }

            }

            .shippingRequestCol:hover {
                box-shadow: 11px 17px 24px -10px #efefef1a;
                backdrop-filter: blur(5px);

                .loginImg {
                    z-index: -1;
                    animation: none;
                }
            }

        }

        .row.nextStage {
            min-height: 150px;
            display: flex;
            justify-content: center;

            .buttonContainer {
                display: flex;
                justify-content: center;

                button {
                    font-size: x-large;
                    display: flex;
                    align-items: center;
                    place-content: center;
                    padding: 28px 0px;
                    color: #274091;
                    border: 2px solid #274091;
                    border-radius: 5px;

                    &:hover {
                        transform: scale(1.01);
                        color: #c60874;
                        border: 2px solid #c60874;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
    .circleShape {
        border-radius: 100%;
    }
    .inprogress {
        min-height: 40px;
        display:flex;
        align-self: center;
        background: purple ;
        animation: inProgress 2s cubic-bezier(0.23, 1, 0.320, 1) infinite forwards ;
        border-radius: 40px;
        
    }
    
   
    @keyframes inProgress {
        0% {
            background: linear-gradient(0.25turn ,purple 95%,rgba(173, 4, 173, 0.884) 5% ) ;
        }
        20% {
            background: linear-gradient(0.25turn ,purple 75% ,rgba(173, 4, 173, 0.884) 5% ,purple ) ;
        }
        40% {
            background: linear-gradient(0.25turn ,purple 65% ,rgba(173, 4, 173, 0.884) 5% ,purple ) ;
        }
        60% {
            background: linear-gradient(0.25turn ,purple 55% ,rgba(173, 4, 173, 0.884) 5% ,purple ) ;
        }
        80% {
            background: linear-gradient(0.25turn ,purple 45% ,rgba(173, 4, 173, 0.884) 5% ,purple ) ;
        }
        100% {
            background:linear-gradient(0.25turn , rgba(173, 4, 173, 0.884) 5% ,purple 95% )
        }
    }
  
    .previousStage {
        //color:#34ccff;
        color: white;
        background-color: rgba(111, 252, 98, 0.404);
        animation: radialToGreen 2s ease-in 1 forwards  ;
        p {
            color: white;
            font-size: x-large;
            font-weight: bold;
        }
    }
    
    .currentStage {
        color: white;
        background-color: purple;
        animation: radialToPurple 2s ease-in 1 forwards ,
                   radialProgress 2s cubic-bezier(0.23, 1, 0.320, 1) 2s infinite forwards ;
    
        p {
            color: white;
            font-size: x-large;
            font-weight: bold;
        }
    }
    @keyframes radialToGreen {
        from {
            background:radial-gradient(green,purple);
        }
        to {
            background:green;
        }
    }
    @keyframes radialToPurple {
        from {
            background:radial-gradient(purple,white);
        }
        to {
            background:purple;
        }
    }
    @keyframes radialProgress {
        from {
            background: linear-gradient(0.25turn, purple  ,rgba(173, 4, 173, 0.884)  ) ;
        }
        to {
            background: linear-gradient(0.25turn,rgba(173, 4, 173, 0.884),purple  );
        }
    }
}

.shippingRequestSection::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    background: #5457609e;
}


.toRight {
    display: flex;
    justify-content: flex-start;
}

.ant-select.arabicAlign {

    .ant-select-selector {
        .ant-select-selection-placeholder {
            text-align: right;
        }
    }

    .ant-select-arrow {
        right: auto;
        left: 11px
    }
}

@media only screen and (max-width:501px) {
    .shippingRequestSection {
        .ant-form-item .ant-form-item-label>label {
            margin: 0;
            font-size: 0.8rem;
            display: flex;
            flex-flow: nowrap;
        }

        .container.padding-top {
            padding-top: 5rem;

            .shippingRequestRow {
                padding: 5px;

                .shippingRequestCol {
                    .row {
                        .buttonContainer.justifyBtn {
                            display: block;
                        }

                    }
                }
            }

            .row.nextStage {
                align-items: center;
                margin: 0;

                .buttonContainer {
                    button {
                        // padding: 10px;
                        font-size: large;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:501px) and (max-width:1024px) {
    .shippingRequestSection {
        .container.padding-top {
            .shippingRequestIntro {
                .currentStage {
                    p {

                        font-size: large;
                    }
                }
            }
        }
    }
}

.ant-modal-mask::-webkit-scrollbar {
    width: 0;
}

.ant-notification:lang(ar) {
    direction: ltr;

    .ant-notification-notice-with-icon .ant-notification-notice-message,
    .ant-notification-notice-with-icon .ant-notification-notice-description {
        text-align: end;
    }
}