.infoContainer {
    display: block;
    position: relative;
    z-index: 1;
    i.fa.fa-info {
        max-width: 40px;
        max-height: 40px;
    }
    .infoLabel {
        position: absolute;
        top:0;
        left:20%;
        background-color: rgb(46, 42, 42,0.5);
      
        border-radius: 10px;
        box-shadow: 2px 2px 2px rgb(148, 147, 147);
      
        p {
            color:white;
            text-align:justify ;
            padding: 2px;
        }
 
    }
    .infoLabel::before {
     content: "";
        border-right:solid 10px transparent;
        border-bottom:solid 10px  transparent;
        border-left: solid 10px  black;
        position: absolute;
        top: 0;
        left: 1%;
    }
}